frontend frontend_algarza04
    bind *:80
    default_backend backend_algarza04

backend backend_algarza04
    balance leastconn
    server web1 192.168.10.2:80 maxconn 32
    server web2 192.168.10.3:80 maxconn 32
    server web3 192.168.10.4:80 maxconn 32
    server web4 192.168.10.5:80 maxconn 32
    server web5 192.168.10.6:80 maxconn 32
    server web6 192.168.10.7:80 maxconn 32
    server web7 192.168.10.8:80 maxconn 32
    server web8 192.168.10.9:80 maxconn 32

global
    stats socket /var/lib/haproxy/stats

listen stats
    bind *:9000
    mode http
    stats enable
    stats uri /estadisticas_algarza04
    stats realm HAProxy\ Statistics
    stats auth algarza04:SWAP1234
