* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

header {
    background-color: #E5E1E2;
    display: flex;
    align-items: center;
    align-self: center;
    margin-bottom: 5px;
    padding: 5px;
}

h1 {
    background-color: orangered;
    color: white;
    border: 1px solid;
    width: fit-content;
    padding: 10px;
    margin: 10px 5px 10px 5px;
    font-size: 2.5rem;
}

h2 {
    background-color: darkorange;
    color: white;
    padding: 10px;
    width: fit-content;
    border: 1px solid ;
    margin: 5px 10px 10px 10px;
    font-size: 1.8rem;
}

h3 {
    background-color: orange;
    color: white;
    padding: 10px;
    width: fit-content;
    border: 1px solid;
    margin: 5px 10px 10px 10px;
    font-size: 1.2rem;
}

main {
    background-color: teal;
    padding-top: 5px;
    color: white;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

div img {
    max-width: 350px;
}

.aula_libr {
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    display: flex;
    align-items: flex-start;
}

.aula_libr img {
    margin-left: auto; 
    max-width: 200px;
    border: 1px solid;
}

.imagen {
    border: 2px solid;
}

.aulas_reservadas {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}
th, td {
    border: 1px solid black;
    padding: 2px;
}

th {
    background-color: lightgray;
}

td {
    height: 40px;
}

.sala {
    background-color: lightskyblue;
}

.aula {
    background-color: orange;
    font-weight: bold;
}

.reserva {
    background-color: lightblue;
}

.evento {
    background-color: lightgreen;
}

.usuario {
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}

nav {
    padding-bottom: 5px;
}

ul {
    list-style: none;
}

li {
    margin-top: 5px;
}
li a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
}

li a:hover {
    background-color: orangered; 
}

label * {
    padding: 5px;
    margin-left: 10px;
}

fieldset {
    border: none;
    text-align: center;
}
label { 
    display:flex; 
    padding: 5px;
    align-items: flex-start;
    margin: 10px;
}

footer {
    background-color: lightblue;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}

footer p {
    margin: 0;
}


@media (max-width: 750px) {
    header img {
        display: none;
    }

    h1 {
        font-size: 1.5rem;
        padding: 5px;
    }

    h2 {
        font-size: 1.2rem;
        padding: 5px;
    }

    h3 {
        font-size: 1rem;
        padding: 5px;
    }

    main {
        font-size: 1rem;
    }

    div img {
        max-width: 275px;
    }

    .aulas_reservadas {
        font-size: 0.5rem;
    }
    td {
        height: 20px;
    }

    input, textarea {
        font-size: 1rem;
        padding: 5px;
    }

    label { 
        padding: 1px;
        margin: 5px;
    }

    label * {
        padding: 0;
        margin-left: 5px;
    }

    .aula_libr img {
        max-width: 200px;
    }

    fieldset *{
        padding: 2px;
    }

    li a {
        border: none;
        color: wheat;
    }

    footer {
        font-size: 0.8rem;
        padding: 5px;
    }

    @media (max-width: 450px) {
        h1, h2, h3 {
            font-size: 1rem;
        }

        main {
            font-size: 0.8rem;
        }

        div img {
            max-width: 200px;
        }
        .aula_libr img {
            max-width: 100px;
        }

        .aulas_reservadas {
            font-size: 0.2rem;
        }
        td {
            height: 10px;
        }

        label * {
            font-size: 0.8rem;
        }
    
        footer {
            font-size: 0.7rem;
        }
    }
}